In [4]:
from pathlib import Path

import pyarrow.dataset as ds

In [9]:
origin_destination_dataset_pth = Path(r'D:\projects\h3-origin-destination-matrix\data\processed\od_matrix\parquet')

assert origin_destination_dataset_pth.exists()

In [38]:
existing_origin_id_lst = [pth.name.split('=')[-1] for pth in origin_destination_dataset_pth.glob('origin_id=*')]

existing_origin_id_lst[:10]

['8a28d590040ffff',
 '8a28d5900447fff',
 '8a28d5900457fff',
 '8a28d590045ffff',
 '8a28d59004affff',
 '8a28d59004b7fff',
 '8a28d59004c7fff',
 '8a28d59004cffff',
 '8a28d59004d7fff',
 '8a28d59004dffff']

In [36]:
import pandas as pd

In [55]:
import dask.dataframe as dd

In [61]:
schm_df = pd.DataFrame.from_records([{"origin_id": '8a28d590040ffff', "destination_id": '8a28d5900447fff', "distance_miles": 2.1, "time": 32.1}])

schm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   origin_id       1 non-null      object
 1   destination_id  1 non-null      object
 2   distance_miles  1 non-null      float64
 3   time            1 non-null      float64
dtypes: float64(2), object(2)
memory usage: 164.0+ bytes

In [62]:
ddf = dd.from_pandas(schm_df, npartitions=8)

ddf

Dask DataFrame Structure:
              origin_id destination_id distance_miles     time
npartitions=1
0                object         object        float64  float64
0                   ...            ...            ...      ...
Dask Name: from_pandas, 1 graph layer

In [64]:
dd.concat([ddf, dd.from_pandas(schm_df, npartitions=8)]).compute()

         origin_id   destination_id  distance_miles  time
0  8a28d590040ffff  8a28d5900447fff             2.1  32.1
0  8a28d590040ffff  8a28d5900447fff             2.1  32.1

In [74]:
import math

in_lst = list(range(10))
output_batch_size = 3

# [in_lst[n: n + output_batch_size] for n in

In [85]:
[in_lst[idx: idx + output_batch_size] for idx in range(0, len(in_lst), output_batch_size)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9]]